#alertsTable {
  input[type="checkbox"] {
    margin-top: 0;
  }

  #bulk-delete-btn {
    margin-left: 5px;
  }

  #bulk-delete-select {
    margin-left: 5px;
    margin-right: 8px;
  }

  .flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .visibility-hidden {
    visibility: hidden;
  }

  .delete-column {
    text-align: right;

    > * {
      margin-right: 1rem;
    }

    .icon-x {
      &::before {
        font-size: 0.8rem;
      }
    }
  }
}
