#caag-header {
  padding: .75rem .25rem;
}

#caag-course-select {
  width: 50%;
  float: right;
}

#card-container {
  text-align: center;
}

.card {
  width: 18rem;
  display: inline-block;
  margin: 0 1.5rem;
  background: white;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.1), 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16);
}

.card-body {
  padding: .25rem 2rem 2rem 2rem;
  text-align: center;
}

.card-text {
  font-size: 60px;
}

.card-link {
  display: block;
  color: blue;
  padding-top: .5rem;
}


.caag-detail-row {
  text-align: center;
}

#studentDetails_wrapper, #caag-student-activity-chart {
  max-width: 96% !important;
  margin: 2rem auto;
}

.progress {
  height: 1.5em;
  margin: 0;
  width: 100%;
  background-color: #c9c9c9;
  position: relative;
}
.progress:before {
  content: attr(data-label);
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}
.progress .value {
  background-color: #7cc4ff;
  display: inline-block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}



#caag-student-activity-chart, #caag-activity-chart-legend {
  .week .day > * {
    flex: 1 1 0;
  }

  .hour {
    flex: 1 1 0;
    box-sizing: border-box;
  }

  .band-0 {
    background-color: #eef3f7;
  }

  .band-1 {
    background-color: #CAE0EC;
  }

  .band-2 {
    background-color: #CAE0EC;
  }

  .band-3 {
    background-color: #8BBBD6;
  }

  .band-4 {
    background-color: #5CA0C6;
  }

  .band-5 {
    background-color: #2E85B6;
  }

  .band-6 {
    background-color: #006BA6;
  }

  .band-7 {
    background-color: #005888;
  }

  .band-8 {
    background-color: #00456A;
  }

  .band-9 {
    background-color: #00314C;
  }

  .band-10 {
    background-color: #00101a;
  }
}

#caag-activity-chart-legend {
  align-items: center;
  margin: 2rem auto;

  div {
    height: 18px;

    &:first-of-type {
      margin-left: .5rem;
    }

    &:last-of-type {
      margin-right: .5rem;
    }
  }

  p {
    font-size: 0.575rem;
  }
}
