#course-snapshot-container {
  padding: 0 2rem;
}

#course-snapshot-header {
  padding: .75rem .25rem;
  margin-bottom: 3rem;
}

#course-snapshot-course-select {
  width: 50%;
  float: right;
}

#card-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 -1rem 4rem -1rem;
  flex-wrap: wrap;

  h5 {
    color: #585858;
    font-size: 0.75rem;
  }
}

.course-snapshot-link-color {
  color: #006BA6;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: darken(#006BA6, 20%);
    text-decoration: none;
  }
}

.card {
  min-width: 14rem;
  background: white;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.1), 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  flex-basis: 14rem;
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;

  .percent-superscript {
    vertical-align: super;
    font-size: 0.5em;
  }
}

.card-body {
  padding: .5rem 2rem;
}

.card-text {
  font-size: 40px;
  padding: 1.5rem 0;
}

.card-footer {
  margin-top: auto;

  p {
    color: #5f5f5f;
    font-size: 0.65rem;
    margin: 0;
    padding: 0.75rem 0;

    &.border-t {
      border-color: #cccccc;
    }
  }
}

.card-link {
  display: block;
  font-size: 0.65rem;
  padding: 0.75rem 0;

  &:hover, &:focus {
    text-decoration: none;
  }

  &.border-t {
    border-color: #006BA6;
  }
}

.studentDetails-heading {
  margin-bottom: 1rem;

  span {
    font-weight: bold;
  }
}

#studentDetails {
  .progress {
    height: 1.5em;
    margin: 0;
    width: 100%;
    background-color: #efefef;
    background-image: none;
    border-radius: 1em;
    box-shadow: none;
    position: relative;
  }

  .progress:before {
    content: attr(data-label);
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .progress .value {
    background-color: #8abbd6;
    display: inline-block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

#course-snapshot-student-activity-chart {
  margin: 2rem auto;
}

#course-snapshot-activity-chart-legend {
  div:not(.course-snapshot-activity-chart-popover) {
    height: 18px;
  }
}

.course-snapshot-heading-with-info {
  display: flex;
  align-items: center;
  position: relative;
}

#activity-chart-info {
  width: 1rem;
  margin-left: 0.5rem;

  a {
    &:hover {
      cursor: pointer;
    }
  }
}

.popover-content {
  position: relative;
}

.course-snapshot-activity-chart-popover, .due-date-button-popover {
  background-color: white;
  box-shadow: 0 3px 5px #969696;
  width: 300px;
  padding: 1rem;
  position: absolute;
  left: 265px;
  top: -3px;
  z-index: 1;

  // visibility styles
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.38, 0.48, 0.45, 0.93);

  h5 {
    color: #006BA6;
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    font-weight: 600;
  }

  p {
    margin: 1rem 0;
    font-size: 0.7rem;
  }

  .popover-close {
    position: absolute;
    top: -16px;
    right: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 0;
    color: #cccccc;
    font-weight: bold;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #8f8f8f;
      cursor: pointer;
    }
  }

  &.popover-visible {
    visibility: visible;
    opacity: 1;
  }

  &:before {
    position: absolute;
    z-index: -1;
    content: '';
    left: -13px;
    top: 19px;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ccc transparent;
    transform: rotate(-90deg);
  }
}
