.hour-labels {
  .day {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 20px;

    .hour {
      width: 50px;

      .col-label {
        font-size: 0.575rem;
        margin: 0 auto;
        display: block;
        width: 17px;
      }
    }
  }
}

.week {
  .day-label {
    min-width: 32px;
    font-size: 0.575rem;
  }

  .day {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 25px;

    .col-label {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 45px;
    }

    .hour {
      width: 50px;
      border: 1px solid #fff;
      border-radius: 3px;
      text-align: center;
    }

    .hour--no-border {
      border: none !important;
    }
  }
}

.student-activity-chart-legend {
  display: flex;
  flex-direction: row;
  justify-content: start;

  margin: 10px 0 0 33px;

  height: 20px;

  div {
    width: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
  }
}

.band-0 {
  background-color: #eef3f7;
}

.band-1 {
  background-color: #CAE0EC;
}

.band-2 {
  background-color: #AACDE1;
}

.band-3 {
  background-color: #8BBBD6;
}

.band-4 {
  background-color: #5CA0C6;
}

.band-5 {
  background-color: #2E85B6;
}

.band-6 {
  background-color: #006BA6;
}

.band-7 {
  background-color: #005888;
}

.band-8 {
  background-color: #00456A;
}

.band-9 {
  background-color: #00314C;
}

.band-10 {
  background-color: #00101a;
}
