<table class="ic-Table assignment_dates">
  <thead>
    <tr>
      <th scope="col"><%= t(:excused, 'Excused') %></th>
    </tr>
    <tr>
      <td><%= t(@excused) %></td>
    </tr>
  </thead>
</table>