<% content_for :strongmind_assets do %>
  <link rel="stylesheet" type="text/css"
  href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <%= stylesheet_link_tag "canvas_shim/application", media: "all" %>
<% end %>

<div class="dot-overlay">
  <div class="dot-loader full-page"></div>
</div>

<div id="cs-alerts-container">
</div>

<% js_bundle :cs_alerts %>
