<% content_for :strongmind_assets do %>
  <link rel="stylesheet" type="text/css"
  href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <%= javascript_include_tag 'canvas_shim/application' %>
<% end %>

<h2>Alerts (<%= @alerts.count %>)</h2>

<table id="alertsTable" class="stripe">
  <thead>
    <tr>
      <th>Student</th>
      <th>Assignment</th>
      <th>Details</th>
      <th>Time</th>
      <th>Type</th>
      <th>
        <button class="Button Button--small Button--primary" id="bulk-delete-btn">Delete Multiple</button>
        <button class="Button Button--small Button--danger hidden" id="bulk-delete-confirm">Confirm</button>
      </th>
    </tr>
  </thead>
  
  <%= render partial: 'alerts_table_body', locals: { alert: alert } %>
</table>
