<div class="ic-Action-header">
  <div class="ic-Action-header__Primary">
    <h3 class="ic-Action-header__Heading">Teacher Alerts:</h3>
  </div>
</div>
<table class="ic-Table ic-Table--hover-row">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Assignment</th>
      <th>Course</th>
      <th>Message</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#">Paul Howard</a></td>
      <td><b><a href="#">Hard Assignment</a></b></td>
      <td><a href="#">Difficult Course</a></td>
      <td>Student is stuck, please help.</td>
      <td>paulhowardemail@gmail.com</td>
    </tr>
  </tbody>
</table>
