<%= form_tag '/seasuite_alerts', action: 'post' do %>
  <%= submit_tag 'create' %> 
<% end %>

<h2>Alerts</h2>
<h3>Maximum Attempts Reached for Assignment (<%= @alerts.count %>)</h3>
<table>
  <tr>
    <th>Student</th>
    <th>Assignment</th>
    <th>Actions</th>
  </tr>
  
    <%= render partial: 'alerts_table_body', locals: {alert: alert} %>
  
</table>