<table id="studentDetails" class="stripe">
  <thead>
    <tr>
      <th>Days Since Active</th>
      <th>Days Since Last Submission</th>
      <th>Missing Assignments</th>
      <th>Current Grade</th>
      <th>Course Progress</th>
      <th>Assignments Completed</th>
      <th>Alerts</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr class="caag-detail-row">
        <td>
          1
        </td>
        <td>
          2
        </td>
        <td>
          3
        </td>
        <td>
          4
        </td>
        <td>
          5
        </td>
        <td>
          6
        </td>
        <td>
          7
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
