<%
  css_bundle :due_date_wizard
  css_bundle :strongmind_styles
  js_bundle :due_date_wizard
  content_for :page_title, t('titles.due_date_wizard', 'Due Date Wizard')
  add_crumb t('#crumbs.due_date_wizard', 'Due Date Wizard')
%>

<div id="due-date-wizard"></div>